body{
    line-height: 140%;
    background: url(/image/white.png);
    color: #FFF;
}
img{
    height: 1em;
}
a:link { color: #CCFFFF ; text-decoration: none ; }
a:visited { color: #AAFFFF ; text-decoration: none ; }
a:hover { color: #00FFFF ; text-decoration: none ; }
a:active { color: #00FFFF ; text-decoration: none ; }
a.lnk {
  display: block;
  text-align: left;
  text-decoration: bold;
  text-shadow: 1px 1px 2px pink;
  color: #000;
}
a.lnkf {
  display: block;
  text-align: left;
  text-decoration: bold;
  text-shadow: 1px 1px 2px pink;
  color: #000;
}
a.lnk:hover {
  color: #fff ;
}