<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>マーメイド サンプル</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.0/mermaid.min.js" integrity="sha512-gx05X612uoaolzJ5Ee/786b3th+qzAm90TOvRwZJwnE8yr0sHQG8eLxdR0/Hbqc2IFh2mWHzzXk79g3atNSwsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    マーメイド記法のサンプルです。<br>
    マーメイドは簡単に様々なグラフや図を書く事ができます。<br>
    詳細はそのうちまとめます。<br>
    ※最新のライブラリでは動きません。
<!-- 以下にMermaid記法を記述 -->
<pre class="mermaid">
graph LR
    Start --> aaa --> End
</pre>
</body>
</html>
